SERVER_PORT=
POSTGRES_USERNAME=
POSTGRES_PW= postrgres Password
PG_DB_NAME= database name

SECRET_KEY= Your Secret key

CLOUDINARY_NAME=
CLOUDINARY_APIKEY=
CLOUDINARY_SECRET=

PW_GOOGLE= (WorkInProgress)

DEV_EMAIL= (WorkInProgress)
EMAIL_PG= (WorkInProgress)